{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in records %}
                    <tr>
                        <td scope="row">{{ item.id }}</td>
                        <td><a href="{% url 'view_snippet' item.id %}">{{ item.name }}</a></td>
                        <td>{{ item.creation_date|date:'d.m.Y H:i' }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-right text-secondary"><i>Всего сниппетов: {{ records|length }}</i></p>
        </div>
    </div>

{% endblock %}